NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
RESEND_API_KEY=
ADMIN_NOTIFY_EMAIL=

OPENWA_GATEWAY_URL=
OPENWA_API_KEY=
OPENWA_WEBHOOK_SECRET=
WHATSAPP_NOTIFY_NUMBERS=18299632299,18094447292
WHATSAPP_ADMIN_NUMBERS=18299632299,18094447292
